# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.virtualenv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Temporary files
*.tmp
*.bak
*.swp
*~.nib

# Database files
*.sqlite

# dotenv environment variables file
.env

# Miscellaneous
.DS_Store
